<footer class="site-footer h-card h25 headerback">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="flex center_v start_center">
      <div>
        <div class="flex start_center">
          <img src="../images/footer/squid.png" alt="Cat in loaf position with blank look in eyeballs" height="85"> 
        </div>

        <div class="vspace_mini"></div>
        
        <div class="flex start_center">
          <a href="mailto:yolanda.tan@uwaterloo.ca" class="link2">yolanda.tan@uwaterloo.ca</a>
        </div>

        <div class="vspace_mini"></div>

        <div class="flex start_center">
          <a href="https://www.linkedin.com/in/yolanda--tan/" class="link2">LinkedIn</a>
        </div>
        
        <div class="vspace_small"></div>

        <div class="flex start_center">
          <a href="/index/" class="link2">about</a>
          <div class="hspace_mini"></div>
          <a href="/projects/" class="link2">projects</a>
          <div class="hspace_mini"></div>
          <a href="/skating/" class="link2">skating</a>
        </div>

      </div>
    </div>
</footer>
