<header class="site-header" role="banner">
  <div class="headerback">
    <div class="flex start_left move_right">

  <div>
    <a href="/index/">
      <div class="headerbutton">
        <h3>home</h3>
      </div>
    </a>
  </div>

  <div class="hspace_medium"></div>

  <div>
    <a href="/about/">
      <div class="headerbutton">
        <h3>welcome!</h3>
      </div>
    </a>
  </div>

  <div class="hspace_medium"></div>

  <div>
    <a href="/projects/">
      <div class="headerbutton">
        <h3>projects</h3>
      </div>
    </a>
  </div>

  <div class="hspace_medium"></div>

  <div>
    <a href="/skating/">
      <div class="headerbutton">
        <h3>skating</h3>
      </div>
    </a>
  </div>

  <div class="hspace_medium"></div>

  <div>
    <a href="/cat/">
      <div class="headerbutton">
        <h3>cat</h3>
      </div>
    </a>
  </div>

  <div class="hspace_medium"></div>

  <div>
    <a href="/crafts/">
      <div class="headerbutton">
        <h3>crafts</h3>
      </div>
    </a>
  </div>

  <div>
    <a href="/misc/">
      <div class="headerbutton">
        <h3>miscellaneous...</h3>
      </div>
    </a>
  </div>

  </div>
  </div>





</header>
