<header class="site-header" role="banner">
  <div class="back">
    <div class="flex start_left move_right">
  <div>
    <a href="/index/">
      <div class="button3">
        <h3>home</h3>
      </div>
      </a>
  </div>
  <div class="hspace_medium"></div>
  <div>
    <a href="/about/"><h3>crash course</h3></a>
  </div>
  <div class="hspace_medium"></div>
  <div>
    <a href="/projects/"><h3>projects</h3></a>
  </div>
  <div class="hspace_medium"></div>
  <div>
    <a href="/skating/"><h3>skating</h3></a>
  </div>
  <div class="hspace_medium"></div>
  <div>
    <a href="/cat/"><h3>cat</h3></a>
  </div>
  <div class="hspace_medium"></div>
  <div>
    <a href="/misc/"><h3>miscellaneous...</h3></a>
  </div>
  </div>
  </div>





</header>
