<header class="site-header" role="banner">
  <div class="headerback">
    <div class="flex start_equal move_right">

  <div>
    <a href="/">
      <div class="headerbutton">
        <h3>home</h3>
      </div>
    </a>
  </div>

  <div class="hspace_medium"></div>

  <!--
  <div>
    <a href="/about/">
      <div class="headerbutton">
        <h3>about</h3>
      </div>
    </a>
  </div>

  <div class="hspace_medium"></div>
-->

  <div>
    <a href="/projects/">
      <div class="headerbutton">
        <h3>projects</h3>
      </div>
    </a>
  </div>

  <div class="hspace_medium"></div>

  <div>
    <a href="/skating/">
      <div class="headerbutton">
        <h3>skating</h3>
      </div>
    </a>
  </div>

  <div class="hspace_medium"></div>

  <div class="dropdown">
      <div class="headerbutton">
          <h3>and more</h3>
      </div>
        <div class="dropcontent">
          <a href="/cat/" class="droplink">cat</a>
          <a href="/crafts/" class="droplink">crafts</a>
        </div>
  </div>

  </div>
  </div>


</header>
