---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* DEFAULTS */

body {
    background: #fafafa;
    font-family: "Trebuchet MS";
    color: #18181b;
}
 
h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 14px;
    position: relative;
}

figcaption {
    font-size: 12px;
}

a {
    text-decoration: none;
}



/* CURSOR */
body {
    cursor: url("/images/cursor/cursor_default.png"), auto;
}

button, a, .clickable {
    cursor: url("/images/cursor/cursor_pointer.png"), pointer;
}


/* DEFAULTS BOX */

.box1 {
    background-color: #bedbff;
    color: #193cb8;
    padding: 10px;
}

.box2{
    background-color: #ffd6a7;
    color: #9f2d00;
    padding: 15px;
}

.box3 {
    background-color: #fafafa;
    color: #18181b;
    padding: 15px;
}

.box4 {
    background-color: #eff6ff;
    color: #193cb8;
    padding: 10px;
}


/* LIST */

.list_s1{
    background-color: #72efdd;
    color: #148977;
    padding: 15px;
}

.list_s2{
    background-color: #6fceeb;
    color: #146f8b;
    padding: 15px;
}

.list_s3{
    background-color: #7b7df2;
    color: #191b94;
    padding: 15px;
}


/* FIT */
.fit_adjust{
    width: fit-content;
}


/* FLEX */

.flex{
    display: flex;
}

.flex_gap {
    gap: 15px;
}


/* CONTENT START */

.start_left {
    justify-content: flex-start;
}

.start_right {
    justify-content: flex-end;
}

.start_center {
    justify-content: center;
}

.start_even {
    justify-content: space-around;
}


/* MOVE */
.move_right {
    position: relative;
    left: 30px;
}

.move_left {
    position: relative;
    right: 30px;
}

/* SIZE */

.small {
    width: 230px;
}

.medium {
    width: 500px;
}

.large {
    width: 700px;
}
 

/* SPACER */
.vspace_mini {
    height: 5px;
}

.vspace_small {
    height: 15px;
}

.vspace_medium {
    height: 30px;
}

.vspace_large {
    height: 50px;
}

.vspace_huge {
    height: 75px;
}

.hspace_mini {
    width: 5px;
}

.hspace_small {
    width: 15px;
}

.hspace_medium {
    width: 30px;
}

.hspace_large {
    width: 50px;
}


/* FIGCAPTION */
.fig_center {
    text-align: center;
}


/* VIEWPORT SIZE */
.h100 {
    min-height: 100vh;
}


/* BUTTON */
.button1 {
    padding: 10px;
    background-color: transparent;
    transition: background-color 0.5s;
}
.button1:hover {
    background-color: #495057;
    color: #CED4DA;
}

.button2 {
    padding: 10px;
    background-color: transparent;
    transition: background-color 0.5s;
}
.button2:hover {
    background-color: #4f772d;
    color: #d4db85;
}

.button3 {
    padding: 10px;
    background-color: transparent;
    transition: background-color 0.5s;
}
.button3:hover {
    background-color: #0077b6;
    color: #90e0ef;
}

.button4 {
    padding: 10px;
    background-color: transparent;
    transition: background-color 0.5s;
}
.button4:hover {
    background-color: #b87a00;
    color: #fff6cb;
}

.button5 {
    padding: 10px;
    background-color: transparent;
    transition: background-color 0.5s;
}
.button5:hover {
    background-color: #5249b3;
    color: #c4c1e0;
}


/* LINK */
.link1 {
    text-decoration: underline;
}
.link1:hover{
    font-weight: bolder;
}


/* HEADER */
.back {
    background-color: fuchsia;
    padding: 15px;
}


/* CENTERING */
.center_v {
    align-items: center;
}


/* PALATTES */

.palette{
background: #441306;  
background: #9f2d00;
background: #f54900;
background: #ff8904;
background: #ffb86a;
background: #ffd6a7;
background: #fff7ed;

background: #162456;
background: #193cb8; 
background: #155dfc;
background: #51a2ff;
background: #8ec5ff;
background: #bedbff;
background: #eff6ff;

background: #09090b;
background: #18181b;
background: #3f3f46;
background: #71717b;  
background: #d4d4d8;
background: #fafafa;
}
.palette_1{
	background: #fafafa; 
	background: #ffe9e3; 
	background: #c4c1e0; 
    background: #7c73e6; 
    background: #5249b3;
}

.palette_2{
	background: #45171d; 
	background: #e84a5f; 
	background: #ff847c; 
    background: #fecea8; 
}

.palette_3{
    background: #F8F9FA;
    background: #E9ECEF;
    background: #DEE2E6;
    background: #CED4DA;
    background: #ADB5BD;
    background: #6C757D;
    background: #495057;
    background: #343A40;
    background: #212529;
}

.palette_4{
    background: #132a13;
    background: #31572c;
    background: #4f772d;
    background: #90a955;
    background: #d4db85;
}

.palette_5{
    background: #03045e;
    background: #0077b6;
    background: #00b4d8;
    background: #90e0ef;
    background: #caf0f8;
}

.palette_6{
    background: #b87a00;
    background: #ffb623;
    background: #fff6cb;
    background: #f9db65;
    background: #765f30;
}