---
# Only the main Sass file needs front matter (the dashes are enough)
---
/* DEFAULTS */


body {
    background: #E9ECEF;
    font-family: "Trebuchet MS";
}
 
h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 18px;
    position: relative;
}


/* DEFAULTS BOX */

.h1_box {
    background-color: #CED4DA;
    color: #6C757D;
    padding: 10px;
    width: fit-content;
}

.box_s1{
    background-color: #fecea8;
    color: #45171d;
    padding: 15px;
}

.box_s2 {
    background-color: #c4c1e0;
    color: #5249b3;
    padding: 15px;
}

.box_s3 {
    background-color: #ecf48e;
    color: #31572c;
    padding: 15px;
}


/* LIST */

.list_s1{
    background-color: #72efdd;
    color: #148977;
    padding: 15px;
}

.list_s2{
    background-color: #6fceeb;
    color: #146f8b;
    padding: 15px;
}

.list_s3{
    background-color: #7b7df2;
    color: #191b94;
    padding: 15px;
}


/* FIT */
.fit_adjust{
    width: fit-content;
}

/* FLEX */

.flex{
    display: flex;
}

.flex_gap {
    gap: 15px;
}


/* CONTENT START */

.start_left {
    justify-content: flex-start;
}

.start_right {
    justify-content: flex-end;
}

.start_center {
    justify-content: center;
}



/* MOVE */
.move_right {
    position: relative;
    left: 30px;
}

.move_left {
    position: relative;
    right: 30px;
}

/* SIZE */

.small {
    width: 230px;
}

.medium {
    width: 500px;
}

.large {
    width: 700px;
}
 

/* SPACER */
.space_mini {
    height: 5px;
}

.space_small {
    height: 15px;
}

.space_medium {
    height: 30px;
}

.space_large {
    height: 50px;
}

/* PALATTES */
.palette_1{
	background: #fafafa; 
	background: #ffe9e3; 
	background: #c4c1e0; 
    background: #7c73e6; 
    background: #5249b3;
}

.palette_2{
	background: #45171d; 
	background: #e84a5f; 
	background: #ff847c; 
    background: #fecea8; 
}

.palette_3{
    background: #F8F9FA;
    background: #E9ECEF;
    background: #DEE2E6;
    background: #CED4DA;
    background: #ADB5BD;
    background: #6C757D;
    background: #495057;
    background: #343A40;
    background: #212529;
}

.palette_4{
    background: #132a13;
    background: #31572c;
    background: #4f772d;
    background: #90a955;
    background: #d4db85;
}

.palette_5{
    background: #03045e;
    background: #0077b6;
    background: #00b4d8;
    background: #90e0ef;
    background: #caf0f8;
}